[submodule "backup/Sistema_Asignacion_Salas"]
	path = backup/Sistema_Asignacion_Salas
	url = git@github.com:KukyNekoi/Sistema_Asignacion_Salas.git
[submodule "backup/bicicletero"]
	path = backup/bicicletero
	url = git@bitbucket.org:eregla/utal-bicicletero.git
[submodule "backup/libpololu-avr"]
	path = backup/libpololu-avr
	url = https://github.com/pololu/libpololu-avr.git
[submodule "backup/unicornio_furioso"]
	path = backup/unicornio_furioso
	url = git@github.com:KukyNekoi/UnicornioFurioso.git
[submodule "backup/veterinuber-core"]
	path = backup/veterinuber-core
	url = git@gitlab.com:UTALCDS-2017-1/veterinuber-core.git
[submodule "backup/veterinuber-db"]
	path = backup/veterinuber-db
	url = git@gitlab.com:UTALCDS-2017-1/veterinuber-db.git
[submodule "backup/veterinuber-web"]
	path = backup/veterinuber-web
	url = git@gitlab.com:UTALCDS-2017-1/veterinuber-web.git
