.backup
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._installzimbra.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._lic.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._mail.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._mail1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._mail2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._mail3.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ok_dns.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._restart_dns.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._test1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._test2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ufw1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ufw2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ufw3.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ufw4.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._ufw5.png
ComputerScience/(2018-1)-Network_Administration/labs/._lab 6-7.pkt
ComputerScience/(2018-1)-Network_Administration/labs/._Laboratorio 5 - resuelto.pdf
ComputerScience/(2018-1)-Network_Administration/labs/._Laboratorio 5.pka
ComputerScience/(2018-1)-Network_Administration/labs/._Laboratorio 7 - listo.pdf
ComputerScience/(2018-1)-Network_Administration/labs/._laboratorio_8.sh
ComputerScience/(2018-1)-Network_Administration/labs/._laboratorio_9.sh
ComputerScience/(2018-1)-Network_Administration/labs/._proyecto_ospf.pkt
ComputerScience/(2018-1)-Network_Administration/labs/._tarea_shell_script.sh
Bioinformatics/Programming II/Ejemplo_01/bin/._ViejoMaÃ.class
ComputerScience/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/BuissnessPlan/._.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/BuissnessPlan/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/BuissnessPlan/src/._presentación.pdf
ComputerScience/(2016-1) - Innovation and Enterpreurship/Final/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/Final/src/._informe.pdf
ComputerScience/(2016-1) - Innovation and Enterpreurship/Final/src/._presentation.pdf
ComputerScience/(2017-1)_-_Tech_Project_Management/.DS_Store
ComputerScience/(2018-1)-Network_Administration/._.DS_Store
ComputerScience/(2018-1)-Network_Administration/.DS_Store
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config_dns.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config3.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config4.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config5.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._config6.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._dns_client1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._dns_client2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._dnsmasqconfig1.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._dnsmasqconfig2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._dnsmasqconfig3.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._domainname.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._domainname2.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._downloadpage.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._downloadzimbra.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._fail_hosts.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._install_packages.png
ComputerScience/(2018-1)-Network_Administration/informe_zimbra/._install_start.png
ComputerScience/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/Final/.DS_Store
ComputerScience/(2017-1)_-_Tech_Project_Management/.DS_Store
.gitignore
ComputerScience/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/.DS_Store
ComputerScience/(2016-1) - Innovation and Enterpreurship/Final/.DS_Store
ComputerScience/(2017-1)_-_Tech_Project_Management/.DS_Store
